.mySwiper {
    width: 100%;
    height: 100%;
    
}
.slide{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    
}
.slide1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/znjCfsx/pexels-jaralol-19856156.jpg');
    background-position: center;
    background-size: cover;
}
.slide2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/NNckqT4/pexels-fotios-photos-3988952.jpg');
}
.slide3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://i.ibb.co/7VpKBGp/pexels-suzyhazelwood-2334636.jpg');
    background-position: center;
    background-size: cover;
}
.slide4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://i.ibb.co/9pkKcQf/pexels-monicore-1391486.jpg');
    background-position: center;
    background-size: cover;
}